.background-icon {
    position: absolute;
    top: calc(50vh - 25vh);
    left: calc(50vw - 25vh);
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    opacity: 0.2;
}

.blue-dot {
    background-color: var(--nightlight-blue);
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    box-shadow: 0 0 10vh 1vh var(--nightlight-blue);
}

.white-notch {
    background-color: white;
    flex: 1;
    width: 100%;
    border-radius: 50%;
    margin-top: 10vh;
}


