form#signup-form {
    margin-top: 2rem;
    margin: 0 auto;
}
  
input[type='email'] {
    border: 2px solid var(--nightlight-gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: white;
    background-color: var(--nightlight-gray);
    flex: 1;
    transition: border-color 0.25s;
}
  
input[type='email']:focus,
input[type='email']:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    border-color: var(--nightlight-blue);
}
