#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  margin-bottom: 2rem;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  opacity: 0.2;
}

#background-icon {
  height: 100%;
}
