@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --nightlight-black: #141414;
  --nightlight-gray: #212121;
  --nightlight-blue: #4A86E8;

  font-family: 'Comfortaa', cursive;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: var(--nightlight-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
